# find symboliclinks and add them to git ignore
# find . -type l | sed 's/\.\///' >> .gitignore
#
**/*.DS_Store
fish/functions/fish_user_key_bindings.fish
fish/fish_variables
fish/conf.d/fisher.fish
fish/confd.*
test.cfg
**/__pycache__/
**/pytest_cache/
**/venv/
**/virtualenvs/
build/
*.egg-info/
.vim/
*.db
*.cache
.DS_Store
.pyc
.csv
screenshots/*
Neovim32/*
Neovim64/*
sublime_user/*
.SublimeREPLHistory
*.last-run
*.log
fzf_key_bindings.fish
plug.vim
.netrwhist
plugged/
priv/
node_modules/
package-lock.json
yarn.lock
.eslintrc.json
*.junk
*.key
keys.tfvars
keys.tf
terraform.tfvars
.terraform.*
.terraform/
tags
.tags
